<h2> Edit Caterer </h2>

<%= render partial: 'caterer', locals: {caterer: @caterer} %>


<div class="button">
    <%= button_to 'Cancel Edits ', caterer_path, :method => "get" %> <br>
    <%= button_to "Delete Caterer", caterer_path, :confirm => 'Are you sure?', :method => "delete" %><br>
</div>
