<h2>Caterers</h2>

<p>Food is great! On top of that you definitely need some at your next bash. Browse our selection of amazing caterers below.</p>

<div>
  <table style="width:50%">
    <caption>Caterers List</caption>
    <tr>
      <th>Caterer</th>
      <th>Type of Food</th>

    </tr>
    <% @caterers.each do  |caterer| %>
      <tr>
        <td><%= link_to caterer.name, caterer%></td>
        <td><%= caterer.food_type.titleize%></td>
      </tr>
    <% end %>
  </table>

</div> <br>

