<h1>Admin Page</h1>

<%= button_to "New User", new_user_path, :method => "get" %>
<%= button_to "New venue", new_venue_path, :method => "get" %>
<%= button_to "New Event", new_event_path, :method => "get" %>
<%= button_to "New Caterer", new_caterer_path, :method => "get" %>