<h2> Edit Event </h2>

<%= render partial: 'event', locals: {event: @event} %>


<div class="button">
    <%= button_to 'Cancel Edits ', event_path, :method => "get" %> <br>
    <%= button_to "Delete Event", event_path, :confirm => 'Are you sure?', :method => "delete" %><br>
</div>

