<h2>Event Listings</h2>


<p>Want a intimate hang out with your closest friends? Want to get lost in the crowd? Either way we got the event for you. Browse the below selection, check out some of our past events or even plan your own.<p>

<%= render partial: 'eventstable', locals: {events: @events.upcoming, caption: "Upcoming Parties"} %>

<%= render partial: 'eventstable', locals: {events: @events.past, caption: "Past Events"} %>

<div class = "center">
    <%= button_to "New Event", new_event_path, :method => "get" %>
</div>
