<h2>Event Listings</h2>


<p>Some really great text about our event page?<p>

<%= render partial: 'eventstable', locals: {events: @events.upcoming, caption: "Upcoming Parties"} %>

<p> include past events in different view? </p>

<%= render partial: 'eventstable', locals: {events: @events.past, caption: "Past Events"} %>


<%= button_to "New Event", new_event_path, :method => "get" %>


