<div class=center>
    <h1>Welcome to Superspreader.com</h1>
    <h3>The best place on your local server for a super good party!</h3>
</div>



<%= render partial: '/events/eventstablewithattendance', locals: {events: Event.all.upcoming, caption: "Upcoming Events"} %>



